
<div class="card-body" th:fragment="main">
    
    <div th:if="${deleteIngredientSuccess}" class="alert alert-success">
        Ingredient was deleted.
    </div>
    
    <div th:if="${deleteIngredientError}" class="alert alert-danger">
        Ingredient could not be deleted.
        It is probably used by a smoothie recipe.
        Only unused ingredients can be deleted.
    </div>

    <h2>Ingredients</h2>

    <ul class="list-group ">
        <li
            th:each="ingredient : ${ingredients}"
            th:inline="text"
            class="list-group-item d-flex justify-content-between align-items-center"
        >
            [[${ingredient.name}]]
            <span class="badge badge-danger badge-pill">
                <a th:href="${'/ingredient/delete/' + ingredient.id}">DELETE</a>
            </span>
        </li>
    </ul>

    <h4>Add new ingredient:</h4>

    <form action="/ingredient" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" name="name" />
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Add" />
            </div>
        </div>
    </form>

</div>
