<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smoothie</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div th:replace="fragments/header :: header"></div>
        
                    <h1 th:utext="${smoothie.name}"></h1>
        
        
                    <h3>Recipe:</h3>
        
        
                    <table>
            
                    <tr>
                        <th>Ingredient</th>
                        <th>Amount</th>
                        <th>Instructions</th>
                    </tr>
            
                    <tr th:each="ingredient : ${smoothie.ingredients}">
                        <td th:utext="${ingredient.name}"></td>
                        <td th:utext="${ingredient.amount}"></td>
                        <td th:utext="${ingredient.info}"></td>
                    </tr>
            
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
